@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

.App {
  text-align: center;
}
:root {
  --rojo: #9E0C0F;
  --amarillo: #FF9D01;
  --verde:#8EC641;
  --rosa:#FAD6D6;
  --gris: #464646;
}

body{
  font-family:"IBM Plex Sans";
}