.modal {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.modal-main2 {
  position: fixed;
  background: white;
  width: 348px;
  height: 100vh;
  border-radius: 27px;
  top: 50%;
  right: -16%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5rem;
}
.modal p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: justify;

  color: #464646;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.tituloModalJ {
  /* height: 66px;
  width: 228px; */
  background-color: var(--rojo);
  border-radius: 0 0 10px 10px;
  /* padding: 9px 108px 9px 15px; */
  display: flex;
  margin-bottom: auto;
  height: 4rem;
  justify-content: left;
  align-items: center;
  padding: 0rem 1rem;
}
.tituloModalJ h4 {
    font-style: normal;
    font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  margin:0px;
  color: #ffffff;
}

.tituloModalJ img {
    margin-top: 5px;
    margin-right: 30px;
}

.Mensajes{
  padding: 30px 22px 42px 22px;
}
.Mensajes img{
  margin-top: 10px;
  margin-left: 203px;
}