.restablecerTexto{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    padding-left: 68px;
    padding-right: 68px;
}
.restablecer h2{
    font-size: 48px;
    color:var(--rojo);
    font-weight: 400;
    line-height: 42px;
    font-weight: bold;

}
.restablecer p{
    font-size:32px;
    color:black;
    font-weight: normal;
}
.restablecer input{
    margin:0 auto;
}

.restablecer button{
    font-family:"IBM Plex Sans";
    margin: 0.5rem;
    border-color: transparent;
    background-color: #9E0C0F;
    color: rgb(255, 255, 255);
    height: 2.9rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    width: 12rem;
    box-shadow: 0px 4px 8px rgba(158, 12, 15, 0.39), 0px 8px 16px rgba(158, 12, 15, 0.14);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 42px;
}

h5{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    
    text-align: justify; 
    color: #464646 !important; 
}
