.detail-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .9rem;
    align-items: center;
    height: 3rem;
    color: var(--gris);
}

.detail-title{
}   

.detail-content{
    font-weight: 300;
}
