.cuestionario-modal{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 55vw;
    height: auto;
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 6rem;
}
.cuestionario1{
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.cuestionario2{    
    font-weight:300;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}