.campo-s{
    width: 28.3rem;
    height: 2.9rem;
    border-radius: 3rem;
    font-family: "IBM Plex Sans";
    font-weight: 300;
    border: none;
    box-shadow: 0px 1px 2px rgba(15, 86, 179, 0.2), inset 0px 2px 4px rgba(15, 86, 179, 0.2);
    padding: 0 1rem;
    font-size: 1rem;
    color: #373C42;
}

.campo-l{
    width: 250px;
    height: 12.3rem;
    border-radius: 1rem;
    font-family: "IBM Plex Sans";
    font-weight: 300;
    border: none;
    box-shadow: 0px 1px 2px rgba(15, 86, 179, 0.2), inset 0px 2px 4px rgba(15, 86, 179, 0.2);
    padding: 0 1rem;
    font-size: 1rem;
    color: #373C42;
}