.login-body{
    display: flex;
    align-items: center;
}

.img-container{
    height: 100vh;
    width: 50vw;
}

.img-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.l-field-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
}   

.logo-login{
    width: 31rem;
}

.f-pass{
    color: var(--rojo);
    font-weight: 100;
}

.link-pass{
    text-decoration: none;
}