.historial-body{
    display: flex;    
    height: 100vh;
    flex-direction: column;
  
}
.Titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    padding: 1rem;

}
.contenedorCitasHisto{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.contenedorMes{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.linea{
    width: 60rem;
    height: 0.01rem;
    margin:2.7rem;
    margin-top: 2.7rem;
}