.calendario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dia{
    font-weight: 600;
    cursor: pointer;
}

.conte-dias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
}

.before{
    color: #B7B7B7;
}

.selected{
    background-color: var(--rojo);
    border-radius: 20rem;
    padding: .3rem;
    color: white;
    width: 1.2rem;
}

.today{
    background-color: #B7B7B7;
    border-radius: 20rem;
    padding: .3rem;
}

.cal-head{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    font-weight: 600;
    margin-bottom: .5rem;
    
}

.cal-body{

}

.cal-table{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30.5rem;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
}

.wrapper-cal{
    height: 6rem;
}

.week-head{
    background: #FAD6D6;
    height: 3rem; 
    color: var(--rojo);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.week-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 3rem;
}