.modal {
    background-color: rgba(0,0,0, .85);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-estado {
    background: #fff;
    padding: 10px;
    width: 36rem;
    height: 46rem;
    border-radius: 1rem;
    padding-top: 1rem;
}

.modal-cancelar {
    background: #fff;
    padding: 10px;
    width: 25.3rem;
    height: 28.3rem;
    border-radius: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-calen{
    background: #fff;
    padding: 10px;
    width: 35.8rem;;
    height: 32rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-done{
    
}

.modal-open  {
    display: grid;
}