.headerrr{
    background-color:#000000;
    height:5rem;
    width:100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerrr img{
padding:10px 22px;
}